* {
  font-family: "Lato";
}

body {
  background-image: url(./wood.jpg);
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-game,
.maso,
.carta-mesa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tittle-game h1 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
  margin: 0;
}

.container-maso-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 10px;
  /** margin: 2em;**/
}
.back-card {
  background-image: url(./back-card.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.maso {
  width: 200px;
  height: 305px;
  border-radius: 10px;
  margin: 10px;
  filter: drop-shadow(5px 5px 20px #272727);
  align-items: center;
}

.logo-card {
  color: #ffffff;
  font-size: 85px;
}
.logo-card-small {
  color: #ffffff;
  font-size: 65px;
}

.btn {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  width: 200px;
  height: 45px;
  border-radius: 8px;
}

.tomar-carta {
  background-color: #f24b4b;
}

.no-tomar-carta {
  background-color: #0468bf;
}

.mesa-cartas {
  width: 1025px;
  height: 270px;
  background: rgba(39, 39, 39, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  /**justify-content: center;**/
}

.mesa-juego {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.mesa-cartas {
  margin: 15px 0px;
}

.container-cartas-mesa {
  margin: 0px 5px;
}

.carta-mesa {
  position: relative;
  width: 160px;
  height: 236px;
  border-radius: 10px;
  align-items: center;
  margin: 0px 20px;
}

.front-card {
  background: #ffffff;
  box-sizing: border-box;
}
.front-card i {
  font-size: 50px;
}

/** 
spade-espadas
club-trebol
diamond-diamantes
heart-corazon
*/

.heart-card,
.diamond-card {
  color: #f24b4b;
  border: 3px solid #f24b4b;
}
.club-card,
.spade-card {
  color: #0d0d0d;
  border: 3px solid #0d0d0d;
}

.carta-mesa p {
  margin: 5px 10px;
  font-size: 27px;
}

.number-top {
  position: absolute;
  top: 0;
  left: 0;
}

.number-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
