* {
  font-family: "Lato";
}

body {
  background-image: url(./wood.jpg);
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-game,
.maso,
.carta-mesa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tittle-game h1 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
  margin: 0;
}

.container-maso-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 10px;
  /** margin: 2em;**/
}
.back-card {
  background-image: url(./back-card.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.maso {
  width: 200px;
  height: 305px;
  border-radius: 10px;
  margin: 10px;
  filter: drop-shadow(5px 5px 20px #272727);
  align-items: center;
}

.logo-card {
  color: #ffffff;
  font-size: 85px;
}
.logo-card-small {
  color: #ffffff;
  font-size: 65px;
}

.btn {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  width: 200px;
  height: 45px;
  border-radius: 8px;
}

.tomar-carta {
  background-color: #f24b4b;
}

.no-tomar-carta {
  background-color: #0468bf;
}

.mesa-cartas {
  width: 1070px;
  height: 295px;
  background: rgba(39, 39, 39, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  /**justify-content: center;**/
}

.mesa-cartas {
  display: flex;
  flex-direction: column;
}

.container-puntos-users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px;
}
.container-puntos-users p {
  margin: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.mesa-juego {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.mesa-cartas {
  margin: 15px 0px;
}

.container-cartas-mesa {
  margin: 0px 5px;
}

.carta-mesa {
  position: relative;
  width: 160px;
  height: 236px;
  border-radius: 10px;
  align-items: center;
  margin: 0px 8px;
}

.front-card {
  background: #ffffff;
  box-sizing: border-box;
}
.front-card i {
  font-size: 50px;
}

.hidden {
  display: none !important;
}

.heart-card,
.diamond-card {
  color: #f24b4b;
  border: 3px solid #f24b4b;
}
.club-card,
.spade-card {
  color: #0d0d0d;
  border: 3px solid #0d0d0d;
}

.carta-mesa p {
  margin: 5px 10px;
  font-size: 27px;
}

.number-top {
  position: absolute;
  top: 0;
  left: 0;
}

.number-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(37, 37, 37, 0.75);
  backdrop-filter: blur(5px);
}

.container-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  height: 300px;
  width: 500px;
  border-radius: 10px;
}

.tittle-modal {
  margin: 5px;
  font-size: 40px;
  color: #0d0d0d;
}

.subtittle-modal {
  margin: 5px;
  width: 60%;
  font-size: 18px;
  font-weight: 400;
  color: #0d0d0d;
  text-align: center;
}

.container-btns-number {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-number-one-eleven {
  cursor: pointer;
  width: 60px;
  height: 35px;
  background: #ffffff;
  border: 2px solid #0468bf;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Lato";
  color: #0468bf;
  font-weight: 600;
  margin: 0 20px;
}

.btn-number-one-eleven:focus {
  outline: none;
}

.btn-number-one-eleven:hover {
  background: #0468bf;
  color: #ffffff;
  transition: 500ms;
}
