* {
  font-family: "Lato";
}

body {
  background-image: url(./wood.jpg);
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-game,
.maso,
.carta-mesa,
.box-points {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tittle-game h1 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
  margin: 0;
}

.box-points {
  width: 50%;
  margin: 20px;
  justify-content: space-between;
}

.points-users {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  color: #0d0d0d;
}

.container-maso-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 10px;
  /** margin: 2em;**/
}

.carta-mesa,
.carta {
  width: 155px;
  height: 235px;
}

.carta-mesa {
  position: relative;
  margin: 0px 8px;
  border-radius: 10px;
  align-items: center;
}

.back-card,
.back-card-bank {
  background-image: url(./back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.maso {
  width: 190px;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 30px 60px rgba(141, 139, 139, 0.3);
  align-items: center;
}

.logo-card {
  color: #ffffff;
  font-size: 85px;
}
.logo-card-small {
  color: #ffffff;
  font-size: 65px;
}

.btn {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  width: 200px;
  height: 45px;
  border-radius: 8px;
}

.tomar-carta,
.btn-reiniciar {
  background-color: #de5855;
}

.tomar-carta:hover,
.btn-reiniciar:hover {
  transition: 500ms;
  background-color: #d84240;
}
.no-tomar-carta {
  background-color: #55adde;
}
.no-tomar-carta:hover {
  transition: 500ms;
  background-color: #1286c4;
}

.mesa-cartas {
  width: 1070px;
  height: 295px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  /**justify-content: center;**/
}

.mesa-cartas {
  display: flex;
  flex-direction: column;
}

.container-puntos-users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px;
}
.container-puntos-users p {
  margin: 0;
  color: #0d0d0d;
  font-weight: 500;
  font-size: 18px;
}

.mesa-juego {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 10px;
}

.mesa-cartas {
  margin: 15px 0px;
}

.container-cartas-mesa {
  margin: 0px 5px;
}

.carta-mesa {
  position: relative;
  width: 155px;
  height: 235px;
  border-radius: 10px;
  align-items: center;
  margin: 0px 8px;
}

.front-card,
.front-card-bank {
  background: #2e3235;
  box-sizing: border-box;
}
.front-card i,
.front-card-bank i {
  font-size: 50px;
}

.hidden {
  display: none !important;
}

.flip-carta {
  margin: 0px 8px;
}

.carta {
  margin: 0px 8px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-carta .carta {
  transform: rotateY(180deg);
}

.front-card-bank,
.back-card-bank {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front-card-bank {
  transform: rotateY(180deg);
}

.heart-card,
.diamond-card {
  color: #de5855;
}
.club-card,
.spade-card {
  color: #f0f0f0;
}

.carta-mesa p {
  margin: 5px 10px;
  font-size: 27px;
}

.number-top {
  position: absolute;
  top: 0;
  left: 0;
}

.number-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(37, 37, 37, 0.75);
  backdrop-filter: blur(5px);
}

.container-modal,
.content,
.modal,
.content-winner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-winner {
  flex-direction: column;
  background-color: #ffffff;
  width: 990px;
  height: 590px;
  border-radius: 15px;
}

.draw-modal {
  margin: 5px;
  width: 575px;
  height: 327.97px;
}

.content {
  flex-direction: column;
  background-color: #ffffff;
  height: 300px;
  width: 500px;
  border-radius: 10px;
}

.tittle-modal {
  margin: 5px;
  font-size: 40px;
  color: #0d0d0d;
}

.subtittle-modal {
  margin: 5px;
  width: 60%;
  font-size: 18px;
  font-weight: 400;
  color: #0d0d0d;
  text-align: center;
}

.tittle-modal-winner-lose {
  font-weight: normal;
  margin: 5px;
  width: 60%;
  font-weight: 400;
  color: #0d0d0d;
  text-align: center;
  font-size: 40px;
}
.container-btns-number {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-number-one-eleven {
  cursor: pointer;
  width: 60px;
  height: 35px;
  background: #ffffff;
  border: 2px solid #55adde;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-family: "Lato";
  color: #55adde;
  font-weight: 600;
  margin: 0 20px;
}

.btn-number-one-eleven:focus {
  outline: none;
}

.btn-number-one-eleven:hover {
  background: #55adde;
  color: #ffffff;
  transition: 500ms;
}

.disable {
  background: #808080 !important;
  color: #0d0d0d !important;
  cursor: not-allowed;
}
